.container{
    border: 1px solid gray;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.containerRow{
    justify-content: space-between;
}

.planDetails{
    border: 1px solid gray;
    width: 100%;
    height: 24rem;
    margin-top: 40px;
}
.membersCard{
    border: 1px solid gray;
    padding: 5%;
    text-align: center;
    max-height: 30rem;
    min-height: 30rem;
    overflow: hidden;
    overflow-y: auto;
}
.membersCardHeader{
    text-align: center;
    margin: auto;
    width: 100%;
}
.memberAvatar{
    border-radius: 100%;
    background-color: gray;
    margin-bottom: 20px;
    width: 100%;
}